.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -25px;
}

#banner h1 {
  font-size: 75px;
  line-height: 1.5;
}

.hero-unit {
  position: relative;
  padding: 31px 16px;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}
