<div class="modal-content">
  <div class="modal-header">
    <button type="button" (click)="bsModalRef.hide()" class="close"><span
      aria-hidden="true">×</span><span class="sr-only">Close</span></button>
    <h4 id="myModalLabel" class="modal-title">Write a Review</h4>
  </div>

  <!-- 5e4862d695c8c9b927a8a383  :   userID for writing reviews -->

  <div class="modal-body">
    <div role="alert" [hidden]="!formError" class="alert alert-danger">{{ formError }}</div>
    <div role="alert" [hidden]="!formInfo" class="alert alert-info">{{ formInfo }}</div>
    <div class="form-group">
      <div class="col-xs-8 col-sm-8">
        <b>Rating: </b>
        <rating [(ngModel)]="review.review_rating" [max]="5" [readonly]="false"
                (onHover)="hoveringOver($event)" (onLeave)="resetStar()"
                [titles]="['one','two','three']"></rating> <br>
      </div> <br>

<!--      <label for="desc" class = "col-xs-12 col-sm-12 col-md-12 col-lg-12"></label>-->
      <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <input id="desc" name="desc" required="required" [(ngModel)]="review.review_desc" class="form-control" placeholder="Talk about the recipe in a few words..."/>
      </div>
<!--      <label for="rating" class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">Review Rating</label>-->
<!--      <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
<!--        <input id="rating" name="rating" required="required" [(ngModel)]="review.review_rating" class="form-control"/>-->
<!--      </div>-->
      <label for="by_user" class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">User ID:</label>
      <div>
        <input id="by_user" name="rating" required="required" [(ngModel)]="review.by_user" class="form-control"/> </div>
      </div>
  </div>
  <div class="modal-footer">
    <button (click)="bsModalRef.hide()" type="button" class="btn btndefault">
      Back</button>
    <button type="submit" class="btn btn-primary" (click)="createReview()">Add Review</button>
  </div>
</div>

